body{
  min-width: 850px;
}

h2{
   border-top: 1px solid rgb(204, 204, 204);
}

table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table tr{
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

table th,table td{
  text-align: left;
  padding: 15px 0;
}

table th products{
  width: 75%;
}

table th products{
  width: 25%;
}

p{
  color: #565959;
}
